.overflowtest {
    overflow-y: scroll;
    /* position: relative; */
    max-height: 300px;
    margin-top: 20px;
}
@media screen and (max-height: 630px) {
    .overflowtest {
        overflow-y: scroll;
        /* position: relative; */
        max-height: 200px;
        margin-top: 20px;
    }
}

.results-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    max-width: 300px;
}

.play-some-games {
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.6rem; */
}

.play-some-games img {
    width: 100%;
    height: auto;
}

/* SCROLLBAR */

/* width */
/* ::-webkit-scrollbar {
    max-width: 5px;
  } */
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: black; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: black;
}